<div class="inner-content rounded-t-md">
  <div class="mx-auto overflow-hidden bg-primary-default rounded-t-md rounded-lg shadow-lg h-full">
    <div class="absolute top-0 bg-opacity-0 w-full flex justify-end cursor-pointer" (click)="dismiss()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-2 mt-2 opacity-80 shadow-md" fill="none"
        viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </div>
    <div class="bg-secondary-default flex justify-center items-center bg-left-bottom contactBanner">
      <img class="object-cover object-center w-1/2 h-full" src="./assets/logo.png" alt="avatar">
    </div>

    <div class="px-6 py-4 bg-white">
      <h1 class="text-xl font-semibold text-gray-800">Kontakt</h1>

      <p class="py-2 text-gray-700 hidden md:block">Kontakta oss gärna för mer information eller för att göra en
        beställning. Välkomna!</p>

      <div class="flex items-center mt-4 text-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>

        <h1 class="px-2 text-sm font-semibold">Trollstigen 48, 972 51 LULEÅ</h1>
      </div>

      <div class="flex items-center mt-4 text-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
        </svg>

        <a href="tel:+4692012500" class="px-2 text-sm font-semibold">0920-125 00</a>
      </div>

      <div class="flex items-center mt-4 text-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>

        <a href="mailto:mat@vi-2.se" class="px-2 text-sm font-semibold">mat@vi-2.se</a>
      </div>
    </div>
    <div style="height: 320px; width: 600px;">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1650.13239944661!2d22.111326452352227!3d65.56970778418133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x467f6f37f058b6d3%3A0x972062ffa15931b1!2sVI%202!5e0!3m2!1sen!2sse!4v1632850060295!5m2!1sen!2sse"
        width="600" height="320" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>