.custom-shape-divider-top-1634987168 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1634987168 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 117px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1634987168 .shape-fill {
  fill: #20402B;
}