<header class="bg-primary-default pb-4">
  <nav class="w-screen mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="w-full py-2 sm:py-4 flex items-center justify-between border-b border-secondary-default lg:border-none">
      <div class="flex items-center">
        <a>
          <span class="sr-only">Vi2</span>
          <img class="h-12 w-auto" src="./assets/logo.png" alt="">
        </a>
        <div class="hidden ml-10 space-x-8 md:block">
          <a routerLink="/hem" [routerDirection]="'root'" routerLinkActive="routerActive"
            class="text-base font-medium text-white hover:text-secondary-default cursor-pointer py-2" key="Solutions">
            Hem
          </a>

          <a routerLink="/produkter" [routerDirection]="'root'" routerLinkActive="routerActive"
            class="text-base font-medium text-white hover:text-secondary-default cursor-pointer py-2" key="Solutions">
            Produkter
          </a>

          <a routerLink="/kylen" [routerDirection]="'root'" routerLinkActive="routerActive"
            class="text-base font-medium text-white hover:text-secondary-default cursor-pointer py-2" key="Pricing">
            Kylen
          </a>

          <a routerLink="/nyheter" [routerDirection]="'root'" routerLinkActive="routerActive"
            class="text-base font-medium text-white hover:text-secondary-default cursor-pointer py-2" key="Pricing">
            Nyheter
          </a>

          <a routerLink="/om" [routerDirection]="'root'" routerLinkActive="routerActive"
            class="text-base font-medium text-white hover:text-secondary-default cursor-pointer py-2" key="Docs">
            Om Företaget
          </a>
        </div>
      </div>
      <div class="ml-10 cursor-pointer space-x-4 flex flex-row">
        <button (click)="presentModal()" [disabled]="modal"
          class="flex items-center px-2 py-2 font-medium tracking-wide text-white capitalize transition duration-200 ease-in-out transform bg-secondary-default hover:bg-secondary-shade rounded-md cursor-pointer ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mx-1" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
          </svg>
          <span class="mx-1 text-sm">Kontakta oss</span>
        </button>
      </div>
    </div>
    <div class="py-4 flex flex-wrap justify-center space-x-6 md:hidden">
      <a routerLink="/hem" [routerDirection]="'root'" routerLinkActive="routerActive"
        class="text-base font-medium text-white hover:text-secondary-default cursor-pointer py-2" key="Solutions">
        Hem
      </a>
      <a routerLink="/produkter" [routerDirection]="'root'" routerLinkActive="routerActive"
        class="text-base font-medium text-white hover:text-secondary-default cursor-pointer py-2" key="Solutions">
        Produkter
      </a>

      <a routerLink="/kylen" [routerDirection]="'root'" routerLinkActive="routerActive"
        class="text-base font-medium text-white hover:text-secondary-default cursor-pointer py-2" key="Pricing">
        Kylen
      </a>

      <a routerLink="/nyheter" [routerDirection]="'root'" routerLinkActive="routerActive"
        class="text-base font-medium text-white hover:text-secondary-default cursor-pointer py-2" key="Pricing">
        Nyheter
      </a>

      <a routerLink="/om" [routerDirection]="'root'" routerLinkActive="routerActive"
        class="text-base font-medium text-white hover:text-secondary-default cursor-pointer py-2" key="Docs">
        Om Företaget
      </a>
    </div>
  </nav>
</header>