<div class="w-full h-2/5 bg-center bg-cover bg-fixed" style="background-image: url(/assets/stock/banner.jpeg);" id="top">
  <div class="flex flex-col items-center justify-center w-full h-full bg-gray-900 bg-opacity-50">
    <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
      <p class="mt-6 max-w-lg mx-auto text-center text-4xl text-white sm:max-w-3xl">
        {{ text }}
      </p>
      <p class="mt-2 max-w-lg mx-auto text-center text-base text-white">
        {{ subtitle }}
      </p>
    </div>
  </div>
</div>