<ion-content>
  <div class="custom-shape-divider-top-1634987026 hidden sm:block">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"></path>
    </svg>
  </div>
  <div class="w-full mt-32">
    <div class="grid md:grid-cols-2 grid-cols-1 gap-6 px-4 my-6">
      <ion-card class="rounded-lg shadow-primary-lg bg-white">
        <img class="w-full" src="./assets/hostbuffe.jpeg">
        <ion-card-header>
          <ion-card-subtitle class="text-gray-600">
            Minimum 6 personer
          </ion-card-subtitle>
          <ion-card-title class="text-gray-800">
            Festbuffé / Vinter 329:-
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="text-gray-800 tracking-wide">
          Grillad oxfilé med kantarellsås, björnbär & lingonchutney.
          Lamm med vitlök, rödvin & färska örter.
          Halstrad laxsida med getost, oliver, citron & olivolja.
          Rostade kryddiga potatishalvor.
          Blandad vintersallad med rödkål, tranbär, kvisttomater, gurka, rostade solrosfrön toppad med ringlad ranch
          dressing.
          Nybakat bröd & aioli smaksatt med chili & paprika.


          Vintererbjudande dessert 79:- / pers.
          Exklusivare choklad pannacotta toppad med vinterns bär & mandel flakes.
        </ion-card-content>
      </ion-card>

      <ion-card class="rounded-lg shadow-primary-lg bg-white">
        <img class="w-full" src="./assets/halsobuffe.jpeg">
        <ion-card-header>
          <ion-card-subtitle class="text-gray-600">
            Minimum 8 personer
          </ion-card-subtitle>
          <ion-card-title class="text-gray-800">
            Hälsobuffé / Vinter 279 :-
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="text-gray-800 tracking-wide">
          Paj med kantareller, skogschampinjoner, färsk spenat & timjan.

          Halstrad laxsida på Japanskt vis med salladslök, ingefära, lime, vitlök & sesamfrön.
          Gratinerade färska rödbetor med getost, valnötter & honung.
          Grillad marinerad kycklingfilé med citron & tomat.
          Matigare sallad med broccoli, bacon, rödlök, oliver, torkade bär & ärtskott.
          Blandad vintersallad med rödkål, tranbär, kvisttomater, gurka, rostade solrosfrön toppad med ringlad ranch
          dressing.

          Nybakat bröd & aioli smaksatt med chili & paprika.


          Vintererbjudande dessert 79:- / pers.
          Exklusivare choklad pannacotta toppad med vinterns bär & mandel flakes.
        </ion-card-content>
      </ion-card>
    </div>
    <div class="grid md:grid-cols-3 grid-cols-1 gap-6 px-4">
      <ion-card *ngFor="let c of cards" class="rounded-lg shadow-primary-lg bg-primary-default">
        <img class="w-full" [src]="'./assets/stock/' + c.logo">
        <ion-card-header>
          <ion-card-subtitle class="text-gray-300">{{c.subtitle}}</ion-card-subtitle>
          <ion-card-title class="text-white">{{c.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="text-white">
          Foo
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>