<div class="grid grid-cols-1 lg:grid-cols-2 gap-x-4 py-3">
  <div class="relative py-3 my-10 sm:max-w-xl sm:mx-auto" *ngFor="let c of cards">
    <!-- <div
      class="hidden sm:block absolute inset-0 bg-gradient-to-b from-secondary-default to-secondary-shade shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
    </div> -->
    <div class="relative px-4 py-10 bg-white shadow-xl sm:rounded-3xl sm:p-20">
      <div class="max-w-md mx-auto">
        <div>
          <img [src]="c.img || '/assets/stock/christmas.png'" class="w-full" />
        </div>
        <div class="divide-y divide-gray-200">
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7"
            [ngClass]="(c.type === cardType.SMAVARMT || c.type === cardType.JULDESSERT || c.type === cardType.RISGRYNSGROT) ? '' : 'twoCols'">
            <p class="font-semibold">
              {{ c.title }}
            </p>
            <ul class="list-disc space-y-2">
              <li class="flex items-start" *ngFor="let content of c.content">
                <span class="h-6 flex items-center sm:h-7">
                  <svg class="flex-shrink-0 h-5 w-5 text-secondary-default" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
                <p class="ml-2">
                  {{ content }}
                </p>
              </li>
            </ul>
            <p>
              {{ c.description }}
            </p>
            <p class="font-semibold">
              {{ c.extraTitle }}
            </p>
            <ul class="list-disc space-y-2">
              <li class="flex items-start" *ngFor="let content of c.extraContent">
                <span class="h-6 flex items-center sm:h-7">
                  <svg class="flex-shrink-0 h-5 w-5 text-secondary-default" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
                <p class="ml-2">
                  {{ content }}
                </p>
              </li>
            </ul>
          </div>
          <div class="pt-6 text-base leading-6 font-bold sm:text-lg sm:leading-7 cursor-pointer" (click)="contact()">
            <p>Redo att beställa?</p>
            <p>
              <a class="text-cyan-600 hover:text-cyan-700">
                Kontakta Oss &rarr;
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 mx-5 py-3">
  <ion-card *ngFor="let p of posts$ | async; let i = index" class="rounded-lg" button (click)="expanded[i] = !expanded[i]">
    <img class="rounded-t-lg w-full" [src]="p.media_url">
    <ion-card-header>
      <ion-card-subtitle>{{ p.price }}</ion-card-subtitle>
      <ion-card-title [innerHtml]="p.title.rendered"></ion-card-title>
    </ion-card-header>

    <ion-card-content [innerHtml]="expanded[i] ? p.content.rendered :  p.excerpt.rendered">
    </ion-card-content>
  </ion-card>
</div> -->