// .custom-shape-divider-top-1634987053 {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   overflow: hidden;
//   line-height: 0;
// }

.custom-shape-divider-top-1634987053 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 121px;
}

.custom-shape-divider-top-1634987053 .shape-fill {
  fill: #20402B;
}