<ion-content>
  <div class="custom-shape-divider-top-1634987053 hidden sm:block">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"></path>
    </svg>
  </div>
  <div class="w-full px-5 mt-10">
    <div class="relative mx-8 my-5">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-secondary-default"></div>
      </div>
      <div class="relative flex justify-start">
        <span class="pr-3 bg-white text-lg font-medium text-gray-900">
          Aktuella Erbjudanden
        </span>
      </div>
    </div>
    <app-news-card></app-news-card>
  </div>
</ion-content>
<app-footer></app-footer>