<div class="inner-content rounded-t-md">
  <div class="mx-auto overflow-hidden bg-primary-default rounded-t-md shadow-lg">
    <div class="absolute top-0 bg-opacity-0 w-full flex justify-end cursor-pointer" (click)="dismiss()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-2 mt-2 opacity-100 shadow-md" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </div>
    <div class="flex justify-center items-center sm:bg-left-bottom bg-center bg-cover w-full sm:h-72 h-60"
      style="background-image: url(/assets/stock/foodpie.jpeg);">
      <div class="w-full h-full flex justify-center items-center bg-gray-900 bg-opacity-20">
        <span class="sr-only">
          Husmanskost
        </span>
        <span class="text-white text-4xl bg-gray-900 bg-opacity-60 rounded-md text-center p-4 shadow-md">
          Husmanskost
        </span>
      </div>
    </div>
  </div>
  
</div>