<ion-content [scrollEvents]="true" #content>
  <div class="w-full bg-center bg-cover bg-fixed homeBanner" id="top">
    <div class="flex flex-col items-center justify-center w-full h-full bg-gray-900 bg-opacity-50">
      <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
        <div class="w-full flex flex-row justify-center">
          <img class="object-cover object-center" src="./assets/logo.png">
        </div>

        <p class="mt-6 max-w-lg mx-auto text-center text-white text-xl sm:max-w-3xl">
          <span class="text-secondary-default">Vi 2</span> är ett Cateringföretag i Luleå som erbjuder catering till
          både privatpersoner & företag. Beställningarna
          kan levereras till kunden eller hämtas själv hos oss.
        </p>
        <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
          <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-3 sm:gap-5">
            <a (click)="scrollToLabel('erbjudanden')"
              class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-secondary-default hover:bg-secondary-shade sm:px-8 cursor-pointer">
              Aktuella Erbjudanden
            </a>
            <a (click)="scrollToLabel('produkter')"
              class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-secondary-default hover:bg-secondary-shade sm:px-8 cursor-pointer">
              Produkter
            </a>
            <a (click)="contact()"
              class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-secondary-default bg-opacity-70 hover:bg-secondary-shade sm:px-8 cursor-pointer">
              Kontakta Oss
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative bg-primary-default py-3">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t-2 border-secondary-default"></div>
    </div>
    <div class="relative flex justify-center">
      <span class="bg-primary-default px-2 text-white">
        <img src="./assets/logo.png" class="h-20">
      </span>
    </div>
  </div>

  <div class="relative bg-primary-default">
    <div class="absolute inset-0">
      <img class="w-full h-full object-cover object-center" src="./assets/stock/basil.jpeg" alt="">
      <div class="absolute inset-0 bg-gray-500 mix-blend-multiply" aria-hidden="true"></div>
    </div>
    <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
      <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl lg:text-6xl">Vi 2</h1>
      <p class="mt-6 text-2xl text-indigo-100 italic">"Vi gillar kryddstark mat men den bästa kryddan är nöjda kunder
        och att hålla en bra service"</p>
      <p class="text-base text-indigo-100">- Anders Larsson & Anita Martinell</p>
    </div>
  </div>

  <div class="bg-primary-default">
    <div class="w-full h-full py-5" id="erbjudanden">
      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t-2 border-secondary-default mx-3"></div>
        </div>
        <div class="relative flex justify-center">
          <span class="px-3 bg-primary-default text-lg font-medium text-white">
            Aktuella Erbjudanden
          </span>
        </div>
      </div>
      <app-news-card></app-news-card>
    </div>
  </div>
  <svg class="hidden md:block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#20402B" fill-opacity="1"
      d="M0,128L80,149.3C160,171,320,213,480,229.3C640,245,800,235,960,224C1120,213,1280,203,1360,197.3L1440,192L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
    </path>
  </svg>

  <div class="w-full bg-white" id="produkter">
    <div class="relative my-10">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t-2 border-secondary-default mx-3"></div>
      </div>
      <div class="relative flex justify-center">
        <span class="px-3 bg-white text-lg font-medium text-primary-default">
          Produkter
        </span>
      </div>
    </div>

    <div class="w-full">
      <div class="grid md:grid-cols-3 grid-cols-1 gap-6 px-4">
        <ion-card *ngFor="let c of cards" class="rounded-lg shadow-primary-lg bg-primary-default">
          <img class="w-full" [src]="'./assets/stock/' + c.logo">
          <ion-card-header>
            <ion-card-subtitle class="text-gray-300">{{c.subtitle}}</ion-card-subtitle>
            <ion-card-title class="text-white">{{c.title}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
  </div>
  <svg class="hidden sm:block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#20402B" fill-opacity="1"
      d="M0,128L80,149.3C160,171,320,213,480,229.3C640,245,800,235,960,224C1120,213,1280,203,1360,197.3L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
    </path>
  </svg>

  <ion-fab *ngIf="isMobile" vertical="bottom" horizontal="end" slot="fixed" class="sm:mr-0 -mr-4">
    <ion-fab-button size="small" color="secondary" (click)="scrollToLabel('top')">
      <ion-icon size="small" name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="!isMobile" vertical="bottom" horizontal="end" slot="fixed" class="sm:mr-2 -mr-4">
    <ion-fab-button color="secondary" (click)="scrollToLabel('top')">
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-footer></app-footer>
</ion-content>
