.mainContent {
  background-image: url("/assets/stock/chef.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ctaSection {
  height: 450px;
}

html {
  scroll-behavior: smooth;
}

.homeBanner {
  background-image: url("/assets/stock/banner.jpeg");
}
