<div class="bg-secondary-default">
  <div class="absolute top-0 bg-opacity-0 w-full flex justify-end cursor-pointer text-white" (click)="dismiss()">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 mr-2 mt-2 opacity-80" fill="none"
      viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
  </div>
  <div class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
      <span class="block">Viktig Information</span>
      <!-- <span class="block">Start using Workflow today.</span> -->
    </h2>
    <p class="mt-4 text-lg leading-6 text-white">Vi arbetar med en ny hemsida, därför finns inte all information här just nu. Detta kommer åtgärdas inom kort. För akuta frågor, vänligen</p>
    <span (click)="closeAndContact()" class="mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-primary-default hover:bg-primary-shade sm:w-auto cursor-pointer">
      Kontakta Oss
    </span>
  </div>
</div>