<ion-content>
  <div class="custom-shape-divider-top-1634987168 hidden sm:block">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"></path>
    </svg>
  </div>
  <div class="">
    <div class="relative flex flex-col-reverse sm:pt-16 pt-8 lg:py-0 lg:flex-col sm:mt-32">
      <div class="w-full max-w-xl px-4 mx-auto md:px-0 lg:px-8 lg:py-20 lg:max-w-screen-xl">
        <div class="mb-0 lg:max-w-lg lg:pr-8 xl:pr-6">
          <h2
            class="mb-5 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none md:text-center">
            Vi 2
            <br class="hidden md:block" />
            Kylen
          </h2>
          <p class="mb-5 text-base text-gray-700 md:text-lg md:text-center">
            Vi 2 levererar inte bara catering
            <br>
            vi har även matlådor till försäljning.
            <br><br>
            Vi har öppet kylen från mån – fred 07.00- 18.00.
            <br><br>
            Du kan välja på klassisk husmanskost så som pasta, fräscha matiga sallader, kötträtter, fiskrätter.
            <br>
            vi har även vegetariskt eller laktos- och glutenfria alternativ mm.
            <br><br>
            Våra matlådor kostar 80:-/st men köper du två så betalar du endast 150:-
            <br><br>
            Följ oss på instagram eller facebook där får du uppdaterat varje dag vad som
            finns för maträtter i våran kyl.
          </p>
          <div class="mb-10 text-center md:mb-16 lg:mb-20">
            <div (click)="contact()"
              class="cursor-pointer inline-flex items-center justify-center w-full h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md md:w-auto bg-secondary-default hover:bg-secondary-shade focus:shadow-outline focus:outline-none">
              Kontakta Oss
            </div>
          </div>
          <div class="flex flex-col items-center">
            <div class="mb-2 text-sm text-gray-600 md:mb-2">Följ oss för de senaste nyheterna</div>
            <div class="flex items-center space-x-4">
              <div class="flex items-center">
                <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-secondary-default">
                  <svg viewBox="0 0 30 30" fill="currentColor" class="h-6">
                    <circle cx="15" cy="15" r="4"></circle>
                    <path
                      d="M19.999,3h-10C6.14,3,3,6.141,3,10.001v10C3,23.86,6.141,27,10.001,27h10C23.86,27,27,23.859,27,19.999v-10   C27,6.14,23.859,3,19.999,3z M15,21c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S18.309,21,15,21z M22,9c-0.552,0-1-0.448-1-1   c0-0.552,0.448-1,1-1s1,0.448,1,1C23,8.552,22.552,9,22,9z">
                    </path>
                  </svg>
                </a>
              </div>
              <div class="flex items-center">
                <a href="/" class="text-gray-600 transition-colors duration-300 hover:text-secondary-default">
                  <svg viewBox="0 0 24 24" fill="currentColor" class="h-5">
                    <path
                      d="M22,0H2C0.895,0,0,0.895,0,2v20c0,1.105,0.895,2,2,2h11v-9h-3v-4h3V8.413c0-3.1,1.893-4.788,4.659-4.788 c1.325,0,2.463,0.099,2.795,0.143v3.24l-1.918,0.001c-1.504,0-1.795,0.715-1.795,1.763V11h4.44l-1,4h-3.44v9H22c1.105,0,2-0.895,2-2 V2C24,0.895,23.105,0,22,0z">
                    </path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="inset-y-0 top-0 right-0 w-full max-w-xl px-4 mx-auto mb-6 md:px-0 lg:pl-8 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-1/2 lg:max-w-full lg:absolute xl:px-0">
        <img class="object-cover w-full h-56 rounded shadow-lg lg:rounded-none lg:shadow-none md:h-96 lg:h-full"
          src="/assets/stock/foodbox.jpeg" alt="" />
      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>